@model CarServise.Models.CartViewModels.Cart
<a class="fas fa-shopping-cart" asp-controller="Cart" asp-action="Index">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputerTotalValue().ToString("c")
        </small>
    }
</a>