@using Microsoft.AspNetCore.Identity
@inject UserManager<CarServise.Data.Models.ApplicationUser> UserManager
@inject SignInManager<CarServise.Data.Models.ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarServise</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/font-awesome.css" />
        <script src="https://kit.fontawesome.com/50ae027aef.js" crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
</head>
<body>
    <nav class="nav-wrapper">
        <div class="container">
            <div class="row">
                <a class="col-md-2 logo" href="#">
                </a>
                <div class="col-md-4">
                    <div class="navigation">
                        <a asp-area="" asp-controller="Forum" asp-action="Index" class="navigation-link">CarServise</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Admins"))
                            {
                                <a class="dropdown">
                                    <a href="#" class="dropdown-toggle navigation-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настройки<span class="caret"></span></a>
                                    <ul class="dropdown-menu navigation-link">
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header navigation-link">Админ</li>
                                        <li><a class="drop-link" asp-controller="Forum" asp-action="Create">Редактировать Форум</a></li>
                                        <li><a class="drop-link" asp-controller="Profile" asp-action="Index">Пользователи</a></li>
                                        <li><a class="drop-link" asp-controller="Order" asp-action="List">Заказы</a></li>
                                    </ul>
                                </a>
                            }
                        }
                        <a href="#" class="navigation-link">About</a>
                    </div>    
                </div>
                <div class="col-md-4">
                    <div class="login">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Account" asp-action="Login">Войти</a>
                            <a asp-controller="Account" asp-action="Register">Регистрация</a>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <a asp-controller="Manage" asp-action="Index" title="Manage">Привет, @UserManager.GetUserName(User)!</a>
                                <button type="submit" class="btn">Выйти</button>
                            </form>
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="cart">
                        @await Component.InvokeAsync("CartSummary")
                    </div>
                </div>
            </div>
        </div>              
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - CarServise</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
