body {
    font-family:'Roboto';
}
.nav-wrapper {
    padding-top:20px;
    padding-bottom:20px;
}

.block-example {
    background-color: #808080;
    padding: 15px;
}
.logo{
    font-size:22px;
    color:#041122;
    font-weight:600;
}
.navigation{
    font-size:18px;
    font-weight:400;
}
.navigation-link{
    font-family:'Roboto Mono';
    color:#52575D;
    text-decoration:none;
    margin-right:20px;
}
.drop-link {
    font-family: 'Roboto Mono';
    color: #52575D;
    text-decoration: none;
    margin-right: 7px;
    margin-left: 7px;
}






/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.bodyStyle {
    border-radius: 3px;
    margin-top: 20px;
    height: 200px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
